body {
/*   background-color: #03173c; */
  background-color: #030b25;
  font-family: 'Montserrat', sans-serif;
}




.container-meter {
  width: 100%;
}

.top-bar-common {
  height: 12px;
  margin: 5px;
  float: left;


}
#top-bar {
  width: 85%;
  
  
}

.meter-bar {
  background-color: #143a59;
}

#top-bar-middle {
  width: 5%;
  background-color: #4f8d9a;

  
}

#top-bar-right {
  
   width: 1%;

 
  background-color: #6b9251;
  
}

.green-bar {
  background-color: #6b9251;
}

.clear-fix {
  overflow: auto;
  clear: left;
}

#container {
  overflow: auto;
  border: 2px solid #405863;
}

#admin-bar-container {
  margin: 5px;
  border-width: 1px 1px 0 1px; 
  border-style: solid; 
  border-color: #143a59;
  overflow: auto;
  width: 99%;
}

#admin-bar {
  width: 75%;
  height: 12px;
  margin: 8px;
  float: left;
  
}

#mode-admin-green {
  height: 6px;
  width: 5px;
  float: left;
  margin: 15px;
  
}

#admin-label {
  display: none;
}

.green-boxes {
  height: 12px;
  width: 1%;
  margin: 15px 2px;
  
  float: right;
}
#top-panel {
   height: auto;
   width: 85%;
   float: right;
   margin-bottom: 0;
   padding-bottom: 0;
   
}


#codes {

  display: none;

}

.random-codes {
  color: blue;
  float: right;
  margin-right: 10px;

/*   background-color:white; */
}

#status-panel {
  /*background-color: white;*/
  display: none;


}



.state-boxes {
    border: 1px solid #6482a5;
    /*padding: 1px;*/
    /*width: 100px;*/
    float: left;
    margin: 5px;
    margin-left: 0;
    margin-right: 0;
    padding-top: -5px;

}

    .state-boxes:nth-child(2) {
      background-color: #09233e;
    }

    .state-boxes:nth-child(5) {
      background-color: #09233e;
    }

    .state-boxes:nth-child(7) {
      background-color: #09233e;
    }

    .state-boxes p {
      /*padding: 1px;*/
      letter-spacing: 2px;
      float: left;
      padding-right: 10px;
      margin: 3px;

    }



#break-con {
  position: relative;
  left: 80px;
}

/*#timer-controls-container {
  border: 5px solid red;

}


#pomodoro-timer {
  border: 5px solid red;
}
*/





#mini-boxes-container {
  display: none;

}

.sp-mini-boxes {
  /*float: right;*/
}


    .sp-mini-boxes ul {
      margin-top: 0;
      float: right;
      /*text-decoration: none;*/
    }

    .sp-mini-boxes li {
      list-style: none;
    }


    .timer-controls p {
      font-size: 1.5em;
      margin-left: 40px;
      text-align: center;
      margin-top: 0;

      float: left;

    }


.circle-meter {
    border-left: 5px solid #333333;
    border-right: 5px solid #333333;
    border-top: 5px solid #ffff70;
    border-bottom: 5px solid #333333;;
    border-radius: 100px;
    height: 10px;
    width: 10px;
    float: left;
    margin: 8px;

}

.sp-mini-boxes p {
  font-size: 0.5em;
  margin-right: 1em;
  /*float: right;*/
  padding: 1px;
  border: 1px solid #6482a5;
}


#codes {
  float: right;

}

.random-codes li {
  list-style: none;
  color: #143a59;
  font-size: .6em;
  padding-bottom: 8px;
/*   padding-right: 0px; */
  
}

.random-codes ul{
  margin-right: 10px;
  padding: 0;
  
}


#mobile-controls-container {
  float: left;

  padding: 0;
}


#mobile-controls-container p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.controls {
  font-size: 2em;
/*  margin-bottom: -10px;
  padding-bottom: -10px;*/
  margin: -2px 0 ;
  padding: -2px 0;


}


#event-clock-container {
  margin-top: 0;
  float: right;
  width: 60%;
  padding-bottom: 0;


  /*padding-right: 0;*/


}



/*#event-clock-container {

 margin-right: 10px;
}*/

#event-clock-label {
  color: #e6e6e6;
  font-size: 40px;
  text-align: right;
  float: right;


  

  
}
#event-clock-label p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-right: 0;
}

#event-clock-timer {
  /*padding: 10px;*/
  width: 70%;
  height: 170px;
  background-color: #030719;
  float: right;
  border: 2px solid #00e415;

}

#event-clock-timer-value span {
/*z-index: 10;*/

/*font-family: monospace;*/
}



/*#event-clock-timer-value span{
  letter-spacing: 10px;
  margin: 10px;
  text-align: justify;
  }*/

#time-remaining ul {
  padding: 0;
  list-style: none;
}

#time-remaining li{
  display: inline;
  float: left;
}


/*.test-div {
  margin: 10px;
}*/

.button {
  height: 40px;
  width: 50px;
  float: right;
  padding:0;

  
}

#start-button {
  background-color: #0b1d17;
  margin-top: 10px;
  border: 1px solid #00e415;

}

#stop-button {
/*     background-color: #110816; */
    background-color: rgba(26,11,20,.5);
    margin-top: 15px;
    border: 1px solid #350c1f;
  
}

#reset-button {
    background-color: #08253f;
    margin-top: 15px;
    border: 1px solid #365d74;
}

.button-text {
  line-height: 40px;
  float: right;
  font-size: .25em;
}

#event-clock-timer-value {
  float: left;
  /*font-size: 100px;*/
/*  font-size: 1.5em;*/
  font-size: 0.7em;
  line-height: 180px;
  font-family: Roboto;
}

.text {
  color: #00e415;
  padding-right: 15px;
}


#break-timer {
  float: left;
}

  #break-timer p {
    font-size: 0.3em;
    display: inline;
  }

#break-con {
  margin-left: 100px;
}

#button-panel {
  display: none;
/*  position: absolute;
  right: 200px;
  border: 5px solid red;*/


}

#stop-button span {
  color: #390015;
}

#reset-button span {
  color: #4395ae;
}

#pom-meter {
  letter-spacing: 10px;
  padding-bottom: 0;


}


#mobile-controls p {
  font-size: 1em;
}

#mobile-controls li {
  display: inline;
  float: left;

  margin-right: 30px;

}

#mobile-adjustment p{
  color: #4395ae;
}




#start-mobile {
  color: #00e415;
}

#stop-mobile {
  color: #350c1f;
}

#reset-mobile {
  color: #365d74;
}


/* Flexible Images */
img {
  max-width: 100%;
  height: auto;
}

.clear-fix {
  clear: both;
}


/*  FLUID GRIDS */
.row {
  float: left;
  clear: both;
  width: 100%;
}

.container .columns{
  float: left;
  padding-right: 1em;
  padding-left: 1em;
  
  /*background: /*tomato*/;*/

}


    .container .columns.one,    
    .container .columns.two,    
    .container .columns.three,    
    .container .columns.four,     
    .container .columns.five,     
    .container .columns.six,    
    .container .columns.seven,    
    .container .columns.eight,    
    .container .columns.nine,     
    .container .columns.ten,    
    .container .columns.eleven,     
    .container .columns.twelve,   
    .container .columns.thirteen,   
    .container .columns.fourteen,   
    .container .columns.fifteen,   
    .container .columns.sixteen   { width: 100%;  }

.container {
  width: 100%;
}

.clearfix:after,
.container:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both;
}

.clearfix,
.container {
  zoom: 1;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 588px) {
      .button {
    
        width: 100px;

      }

  
  #admin-bar {
      width: 68%;
  }


  #admin-label {
    display: block;
    font-size: .5em;
    color: #143a59;
    float:left;
  }


  #button-panel {
    display: block;
    height: auto;
    width: 30%;

    float: right;

  }

  #mobile-controls {
    display: none;
  }



}

@media only screen and (min-width: 784px) {

      #event-clock-timer-value {
     
      
        font-size: 1em;

      }

      #break-timer p {
        font-size: 0.5em;
      }


  #top-bar {
      width: 90%;
  
  
  }





    .container .columns.one     { width: 6.25%; }
    .container .columns.two     { width: 12.5%; }
    .container .columns.three   { width: 18.75%;  }
    .container .columns.four    { width: 25%;   }
    .container .columns.five    { width: 31.25%;  }
    .container .columns.six     { width: 37.5%; }
    .container .columns.seven   { width: 43.75%;  }
    .container .columns.eight   { width: 50%;   }
    .container .columns.nine    { width: 56.25%;  }
    .container .columns.ten     { width: 62.5%; }
    .container .columns.eleven    { width: 68.75%;  }
    .container .columns.twelve    { width: 75%;   }
    .container .columns.thirteen  { width: 81.25%;  }
    .container .columns.fourteen  { width: 87.5%; }
    .container .columns.fifteen  { width: 93.75%;  }
    .container .columns.sixteen   { width: 100%;  }



}


@media only screen and (min-width: 1003px) {

     #admin-bar {
        width: 70%;

        
      }
      #admin-label {
        font-size: 0.6em;
      }

      .button {
    
        width: 200px;

      }

      .button-text {

        font-size: .5em;
      }

      #event-clock-label {
       
        font-size: 50px;
      }

      #event-clock-timer {
        width: 100%;
      }


    #status-panel {
      display: block;
      width: 55%;
      height: 100px;
      float: right;

      color: #6482a5;


    }

    #mobile-controls-container {
      display: none;
    }









}


@media only screen and (min-width: 1010px) {

      #admin-bar {
        width: 75%;

        
      }


      #admin-label {
        font-size: 0.7em;

      }

      #event-clock-timer-value {
     
      
        font-size: 1.75em;

      }

      #break-timer p {
        font-size: 0.75em;
      }


}


@media only screen and (min-width: 1136px) {
      
      #codes {
        float: right;
        width: 35%;
        height: auto;
        display: inline;
      }

      #mini-boxes-container {
        float: right;
        padding-left: 10px;

        color: #6482a5;
        display: inline;

      }

      #status-panel {
        float: left;
      }


      #event-clock-timer-value {
     
      
        font-size: 2em;

      }

      #break-timer p {
        font-size: 1em;
      }

}

@media only screen and (min-width: 1239px) {
    
      #admin-bar {
        width: 80%;
        
      }

      #admin-label {
        font-size: 0.7em;
      }




}
